[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
llama-index-vector-stores-pinecone = "*"
pinecone-client = "*"
python-dotenv = "*"
llama-index-llms-openai = "*"
llama-index-embeddings-openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
